---
import PostLayout from "../../../layouts/Post.astro";
import books from "../../../books/data.json";
import { BookType } from "../../../books/types";
import { z } from "astro/zod";
import {
  getAuthors,
  getRating,
  getTags,
  getTitle,
  getDateFinished,
  sortByAuthor,
} from "../../../books/functions";

const BooksType = z.array(BookType);
type Book = z.infer<typeof BookType>;

BooksType.parse(books);

books.sort(sortByAuthor);
---

<PostLayout title="books" links={[]}>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>author</th>
        <th>tags</th>
        <th>rating</th>
        <th>finished</th>
      </tr>
    </thead>
    <tbody>
      {
        books.map((book: Book) => (
          <tr>
            <td>{getTitle(book)}</td>
            <td>{getAuthors(book)}</td>
            <td>{getTags(book).join(" ")}</td>
            <td>{getRating(book)}</td>
            <td>{getDateFinished(book)}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</PostLayout>
../../../books/books
