---
import PostLayout from "layouts/Post.astro";
import books from "data/books/books.json";
import { BookSchema } from "data/books/types";
import {
  getAuthors,
  getRating,
  getTitle,
  byAuthor,
  readFilter,
} from "data/books/functions";
import { parse } from "functions";

parse(BookSchema, books);
const filterBooks = books.filter(readFilter);
const sortedBooks = filterBooks.sort(byAuthor);
---

<PostLayout title="books">
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>author</th>
        <th>finished</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedBooks.map((book) => (
          <tr>
            <td>{getTitle(book)}</td>
            <td>{getAuthors(book)}</td>
            <td style="text-align:center">{book.reads[0].date_finished}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</PostLayout>
