---
import PostLayout from "layouts/Post.astro";
import books from "books/read.json";
import { BooksSchema } from "books/types";
import {
  getAuthors,
  getRating,
  getTags,
  getTitle,
  getDateFinished,
  sortByAuthor,
  readFilter,
} from "books/functions";

// BooksSchema.parse(books); // JSON FILE TOO BIG ?

const filterBooks = books.filter(readFilter);
const sortedBooks = filterBooks.sort(sortByAuthor);
---

<PostLayout title="books">
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>author</th>
        <th>tags</th>
        <th>rating</th>
        <th>finished</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedBooks.map((book) => (
          <tr>
            <td>{getTitle(book)}</td>
            <td>{getAuthors(book)}</td>
            <td>{getTags(book).join(" ")}</td>
            <td>{getRating(book)}</td>
            <td>{getDateFinished(book)}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</PostLayout>
