---
import {
  bySeen,
  byTitle,
  getDate,
  getRating,
  getTitle,
} from "data/movies/functions";
import movies from "data/movies/movies.json";
import { MovieSchema } from "data/movies/types";
import { parse } from "functions";
import PostLayout from "layouts/Post.astro";

parse(MovieSchema, movies);
const filteredMovies = movies.filter(bySeen);
const sortedMovies = filteredMovies.sort(byTitle);
---

<PostLayout title="movies">
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>rating</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedMovies.map((movie) => (
          <tr>
            <td>{getTitle(movie)}</td>
            <td style="text-align:center">{getRating(movie)}</td>
            <td style="min-width:100px; text-align: right;">
              {getDate(movie)}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</PostLayout>
