---
import PostLayout from "layouts/Post.astro";
import movies from "data/movies/movies.json";
import { MoviesSchema } from "data/movies/types";
import { getTitle, getRating } from "data/movies/functions";

// MoviesSchema.parse(movies);
MoviesSchema.parse(movies);
---

<PostLayout title="movies">
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>rating</th>
      </tr>
    </thead>
    <tbody>
      {
        movies.map((movie) => (
          <tr>
            <td>{getTitle(movie)}</td>
            <td>{getRating(movie)}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</PostLayout>
