---
import { createLinks } from "../../functions.astro";
import Post from "../../layouts/Post.astro";

const path = Astro.url.pathname;
const subFolders = await Astro.glob("./*/index.*");

const links = createLinks(subFolders);
---

<Post title="art" description="art" links={links}>
  <h1>art</h1>
</Post>
