<footer><div>bottom.</div> <a href="#top">top?</a></footer>
<style>
  footer {
    height: 100vh;
    position: relative;
  }
  div {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
  }
  a {
    position: absolute;
    bottom: 1rem;
    right: 0;
  }
</style>
