---
interface Props {
  path: string; // stricter type ?
}
const { path } = Astro.props;
const editPath = "https://github.com/yinon4/index/blob/main/src/content/blog";
---

<footer>
  <a href={`${editPath}/${path}`}>edit</a>
  <div>bottom.</div>
  <a href="#top">top?</a>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
  }
</style>
