<nav>
  <div>
    <a href="/">index</a>
    <a href="/thots">thots</a>
    <a href="/feefees">feefees</a>
    <a href="art">art</a>
    <a href="/dotdotdot">...</a>
  </div>
</nav>
<style>
  div {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex-wrap: wrap;
  }
  a:hover {
    text-decoration: wavy underline;
  }
</style>
