---
import {
  createTable,
  createColumnHelper,
  getCoreRowModel,
  type ColumnDef,
} from "@tanstack/table-core";

interface Props<T> {
  columns: ColumnDef<T>[];
  data: T[];
}

const { columns, data } = Astro.props;

const table = createTable({
  columns,
  data,
  getCoreRowModel: getCoreRowModel(),
  onStateChange: () => {},
  state: {},
  renderFallbackValue: () => null,
});
---

<table>
  <thead>
    <tr>
      {table.options.columns.map((header) => <th>{header.header}</th>)}
    </tr>
  </thead>
  <tbody>
    {
      table.getCoreRowModel().rows.map((row) => (
        <tr>
          {row.getAllCells().map((cell) => (
            <td>{cell.getValue()}</td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
