body {
  max-width: 65ch;
  margin: 1rem auto;
  padding: 0 1rem;
  font:
    18px/1.5 -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}
a:link {
  color: unset;
  filter: brightness(3);
  text-decoration: none;
}
a:hover {
  filter: brightness(2);
}
a:visited {
  color: unset;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #0d1117;
  }
  a:link {
    color: unset;
    filter: brightness(0.5);
    text-decoration: none;
  }
  a:hover {
    filter: brightness(0.75);
  }
}
* {
  scrollbar-width: none;
}
img {
  max-width: 100%;
}
table {
  width: 100%;
}
