:root {
  --light: #d6d3d1; /* neutral 300 */
  --mid: #40404099; /* neutral 700 */
  --dark: #171717; /* neutral 900 */
}
img {
  max-width: 100%;
}
table {
  table-layout: fixed;
  width: 100%;
}
* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}
a {
  color: unset;
}
@font-face {
  font-family: "Switzer";
  src:
    local("Switzer"),
    url("Switzer.woff2") format("woff2");
}

html {
  margin-inline: auto;
  max-width: 73ch;
  padding: 0 10px;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Switzer";
  color: var(--light);
  background-color: var(--dark);

  margin-top: 0;
}
::selection {
  background: var(--mid);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: larger;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
