---
import { ViewTransitions } from "astro:transitions";
import Footer, { type Props as FooterProps } from "components/Footer.astro";
import Header, { type Props as HeaderProps } from "components/Header.astro";
import "global.css";

export interface Props extends HeaderProps, FooterProps {
  title: string;
  description?: string;
}

const { title, description, ...headerFooterProps } = Astro.props;
---

<html lang="en" id="top" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link
      rel="icon"
      href={`${import.meta.env.BASE_URL}/grey-icon.svg?`}
      type="image/svg+xml"
    />
    <title>{title}</title>
    <ViewTransitions />

    <meta name="description" content={description || title} />
  </head>
  <body>
    <main>
      <Header {...headerFooterProps} />
      <content>
        <slot />
      </content>
      <Footer {...headerFooterProps} />
    </main>
  </body>
</html>
