---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="-dark">
    <Header />
    <!-- sidebar -->
    <div>
      <slot />
    </div>
    <Footer />
  </body>
  <style>
    body {
      line-height: 2;
      margin-block: 3em;
      margin-inline: auto;
      max-width: 650px;
      font-size: 18px;
      color: #292524; /* stone 800 */
      background-color: #e7e5e4; /* stone 200 */
      padding: 0 10px;
    }
    body.dark {
      color: #e7e5e4; /* stone 200 */
      background-color: #292524; /* stone 800 */
    }
  </style>
</html>
