---
import type { ComponentProps } from "astro/types";
import { ViewTransitions } from "astro:transitions";
import Footer from "components/Footer.astro";
import Header from "components/Header.astro";
import "global.css";

interface Props
  extends ComponentProps<typeof Header>,
    ComponentProps<typeof Footer> {
  title: string;
}

const { title, ...rest } = Astro.props;
---

<html lang="en" id="top" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link
      rel="icon"
      href={`${import.meta.env.BASE_URL}/grey-icon.svg?`}
      type="image/svg+xml"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Header {...rest} />
      <content>
        <slot />
      </content>
      <Footer {...rest} />
    </main>
  </body>
</html>
