---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles.css";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="dark">
    <Header />
    <!-- sidebar -->
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
