---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap"
    />
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Header />
    <!-- sidebar -->
    <div>
      <slot />
    </div>
    <Footer />
  </body>
  <style>
    body {
      margin: auto;
      max-width: 65ch;
      line-height: 1.6;
      font-size: 20px;
      color: #444;
      padding: 10px;

      /* font-family: "Raleway", sans-serif; */
    }
  </style>
</html>
