---
import PostLayout, { type Props as PostProps } from "./Post.astro";

type Props = { frontmatter: PostProps; rawContent: () => string };
const props = Astro.props.frontmatter;

// const words = Astro.props.rawContent().trim().split(/\s+/).length;
---

<PostLayout {...props}>
  <!-- <h6 style="text-align:end ">{words} words</h6> -->
  <slot />
</PostLayout>
