---
import Layout from "./Base.astro";

export type Props = {
  title: string;
  description: string;
  date?: string;
  tags?: string[];
  readingTime?: string;
};

const { title, description, date, tags, readingTime } = Astro.props;
---

<Layout title={title} description={description}>
  <div>
    <article>
      <slot />
    </article>
    <!-- toc -->
  </div>
</Layout>
